*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
a{
    text-decoration: none;  
    color:black;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color:aqua;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
body html {
       overflow-x:hidden ;
}
/* navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;

}.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
   margin: 0 30px;
}


body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('images/adventure.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 220px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
     color: white;
    font-size: 3vmin;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 40px;
    font-size: 4vmin;
    cursor: pointer;
    display: none;
}